<div class="container">
    <form action="/new" method="POST">
        <input type="text" name="title">
        <br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</div>