<h1>Edit this task:</h1>
<h2>{{title}}</h2>

<div class="container">
    <form action="/{{id}}/edit" method="POST">
        <input type="text" name="title" placeholder="Edit task title">
        <br>
        <input class="btn" type="submit" value="Submit">
        <input class="btn" type="reset" value="Reset">
    </form>
</div>